<!-- templates/auth/register.html -->
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h2>Реєстрація</h2>

    <!-- Відображення повідомлень з `flash` -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.register') }}" method="post">
        <label for="username">Ім'я користувача:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Електронна пошта:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="user_type">Тип користувача:</label><br>
        <input type="radio" id="buyer" name="user_type" value="buyer" required>
        <label for="buyer">Покупець</label><br>
        <input type="radio" id="seller" name="user_type" value="seller" required>
        <label for="seller">Продавець</label><br><br>

        <input type="submit" value="Зареєструватися">
    </form>

    <a href="{{ url_for('auth.login') }}">Вже зареєстровані? Увійти</a>
</body>

</html>