{% extends "base.html" %}

{% block title %}
Створити Аукціон
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="text-secondary fw-bold">Створення Аукціону</h1>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body">
            <form id="create-auction-form">
                <div class="mb-3">
                    <label for="title" class="form-label text-secondary">Назва:</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Введіть назву"
                        required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label text-secondary">Опис:</label>
                    <textarea id="description" name="description" class="form-control" rows="4"
                        placeholder="Додайте опис" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="starting_price" class="form-label text-secondary">Стартова ціна:</label>
                    <input type="number" id="starting_price" name="starting_price" class="form-control"
                        placeholder="Введіть стартову ціну" required>
                </div>

                <div class="text-center">
                    <button type="button" onclick="createAuction()" class="btn btn-warning">Створити аукціон</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function createAuction() {
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const startingPrice = document.getElementById('starting_price').value;

        fetch('/auction/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: title,
                description: description,
                starting_price: startingPrice
            })
        })
            .then(response => response.json())
            .then(data => {
                alert(data.message || data.error);
                if (data.message) {
                    window.location.href = '/user/seller/{{ current_user.email }}';
                }
            })
            .catch(error => console.error('Помилка:', error));
    }
</script>
{% endblock %}