{% extends "base_en.html" %}
{% block title %}Impressum{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-secondary">Impressum</h1>
    <div class="alert alert-warning mb-4">
        <b>Attention!</b> This site is a test startup. I am not yet a legal entity or registered company. As soon as a company is established, the information will appear here.
    </div>
    <p>For all inquiries, please contact me as the developer via <a href="mailto:pilipandr79@icloud.com">pilipandr79@icloud.com</a> or by phone at <a href="tel:+4916095030120">+49 160 95030120</a>.</p>
</div>
{% endblock %}
