{% extends "base_de.html" %}
{% block title %}Impressum{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-secondary">Impressum</h1>
    <div class="alert alert-warning mb-4">
        <b>Achtung!</b> Diese Website ist ein Test-Startup. Ich bin noch keine juristische Person oder eingetragene Firma. Sobald ein Unternehmen gegründet ist, werden die Informationen hier erscheinen.
    </div>
    <p>Bei allen Anfragen wenden Sie sich bitte als Entwickler an mich unter <a href="mailto:pilipandr79@icloud.com">pilipandr79@icloud.com</a> oder telefonisch unter <a href="tel:+4916095030120">+49 160 95030120</a>.</p>
</div>
{% endblock %}
